body {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    
  } 
 ul li {
    float: left;
    display: flow-root;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
  }
  div a {
    text-decoration: none;
    color: rgb(247, 0, 255);
    font-weight: bold;
  }
  div ul {
    list-style: none;
    overflow: hidden;
    text-align: center;
  }
  div ul li:hover {
    background: rgb(17, 17, 17);
    border-radius: 7%;
  }
  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
  }

  .form{
    background-color: rgb(248, 196, 244);
    width: 600px;
     border-radius: 10px;
     padding: 20px 40px;
     box-shadow: 0 10px 25px rgba(0, 0, 0, 0.329);
  }
  .contain {
    position: relative;
    height: 40px;
    width: 90%;
    margin-bottom: 20px;
  }
  .input{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #020202;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
  }
  ::placeholder {
    color: transparent;
  }

.select{
    position: relative;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color:rgb(248, 196, 244);
    color: #030303;
    font-size: 16px;
    transition: 1s;
  }
  .submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: purple;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
  }
  
  .submitBtn:hover {
    background-color: #9867C5;
    transform: translateY(-5px);
  }
  .input:focus + .select{
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: purple;
  }
  .input:focus {
    border: 2px solid rgb(0, 0, 0);
  }
