<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_editar.css')}}">
</head>
<body>
   <h1>Editar personas</h1>
   <form method="POST" action="">
    <label>Codigo:</label>
    <input type="number" name="polper" value="{{personas[0]}}" disabled> <br>
    
    <label>Nombre:</label>
    <input type="text" name="nombrep" value="{{personas[1]}}"> <br>

    <label>Apellido:</label>
    <input type="text" name="apellidop" value="{{personas[2]}}"> <br>

    <label>Email:</label>
    <input type="email" name="emailp" value="{{personas[3]}}"> <br>

    <label>Direccion:</label>
    <input type="text" name="dirp" value="{{personas[4]}}"> <br>

    <label>Telefono:</label>
    <input type="number" name="telp" value="{{personas[5]}}"> <br>

    <label>Usuario:</label>
    <input type="text" name="usup" value="{{personas[6]}}" disabled> <br>

    <label>Contraseña:</label>
    <input type="password" name="passp" value="{{personas[7]}}" disabled> <br>
    <input type="submit" value="Guardar cambios">
</form>
</body>
</html>
