<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <title>Registro usuario</title>
</head>
<body>
            <div class="name">
            <form action="/Registrar" class="form" method="POST">
            
                <h1>Formulario de registro</h1>
                    <form>
            <div class="contain">
                <p>
                    <label class="select">Nombre</label>
                    <input class="input"  type="text"  maxlength="50" placeholder="Ingrese nombre" required name="nombre" utofocus required/>
                </p>
            </div>
                           
            <div class="contain">
                <p>
                    <label class="select">Apellido</label>
                    <input class="input" type="text"  maxlength="50" placeholder="Ingrese apellido" required name="apellido" autofocus required/>
                </p>
            </div>
            <div class="contain">
                <p>
                    <label class="select">E-mail</label>
                    <input class="input" type="email"  maxlength="50" placeholder="Ingrese e-mail" required name="email" autofocus required/>
                </p>
            </div>
            <div class="contain">
                <p>
                    <label class="select">Dirección</label>
                    <input class="input" type="text"  maxlength="50" placeholder="Ingrese la dirección" required name="direccion" autofocus required/>
                </p>
            </div>
            <div class="contain">
                <p>
                    <label class="select">telefono</label>
                    <input class="input" type="number"  maxlength="50" placeholder="Ingrese el telefono" required name="telefono" autofocus required/>
                </p>
            </div>
            <div class="contain">
                <p>
                    <label class="select">usuario</label>
                    <input class="input" type="text"  maxlength="50" placeholder="Ingrese el usuario" required name="usuario" autofocus required/>
                </p>
            </div>
            <div class="contain">
                <p>
                    <label class="select">contraseña</label>
                    <input class="input" type="password"  maxlength="50" placeholder="Ingrese la contraseña" required name="password" autofocus required/>
                </p>
            </div>
    
            <div class="contain">
            <input type="submit" class="submitBtn" value="Registrar">
            
            </div>
        </form>
        </div>
    </form>
</body>
</html>